{% extends "_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container">
	<div id="board" class="board" data-module="MazeGame">
		<canvas id="maze"></canvas>
	</div>
</div>
{% endblock %}