{% extends "_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}
<div class="container">
	<canvas id="maze" data-module="RandomMaze"></canvas>
</div>
{% endblock %}